<h3>Pages#Index</h3>

<% if current_user && current_user.checkins.any? %>
	<ol>
	<% current_user.sorted_checkins.each do |ci| %>
		<li><%= link_to ci.name, show_path(ci) %></li>
	<% end %>
	</ol>
<% elsif current_user %>
	<p><%= link_to 'Click here to load all your foursquare checkins. May take a few minutes.', load_all_checkins_path %></p>
<% end %>